body.home-background {
    background-image: url('../assets/nike-concept-art.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
body.home-background::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0; 
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 70%;
    margin: 10% auto;
}

#home h1, #home span {
    position: relative;
    z-index: 1;
}

#home h1 {
    font-size: clamp(34px, 4vw, 60px);
}

#home span {
    font-size: clamp(18px, 4vw, 24px);
    margin-bottom: 40px;
}

#shop-now {
    position: relative;
    z-index: 1;
}
#shop-now button {
    position: relative;
    color: black;
    background-color: white;
    padding: 13px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 22px;
    z-index: 1;
    overflow: hidden;
}
#shop-now button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffb300;
    border: none;
    color: white;
    background-color: #1b1b1b;
    font-weight: 600;
}
#shop-now button:active {
    transform: scale(1);
}

#shop-now button::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border-radius: 15px;
    background: linear-gradient(90deg, #ffb300, #ffb300);
    z-index: -1;
    animation: rotate-border-color 5s linear infinite;
    pointer-events: none;
}

#shop-now button::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
}
#shop-now button:hover::after {
    background-color: #242424;
}

@keyframes rotate-border-color {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 960px) {
    #home {
        margin: 20% auto;
    }
}

@media (max-width: 550px) {
    #home {
        margin: 30% auto;
    }
}