#navbar {
    position: fixed;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 5vw;
    background-color: rgb(46, 46, 46);
    gap: 20px;
    z-index: 100;
    box-shadow: 0 0 20px #303030;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: clamp(18px, 2vw, 20px);
    font-weight: 600;
}

#navigation-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#shop, #cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icon-sneaker {
    width: clamp(50px, 5vw, 70px);
}

.icon-shop-cart {
    width: 25px;
}

.active-nav-link {
    text-shadow: 0 0 10px white;
}

@media (max-width: 1100px) {
    #navbar {
        padding: 15px 5vw;
    }
}